@model Blog_ASP.NET.Models.TextList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TextList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextChangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextChangeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TextID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
