@model IEnumerable<NewBeeBlog.Models.TextList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="tab-content">
            @Html.DisplayNameFor(model => model.TextTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attachment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextChangeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TextTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attachment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextChangeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TextID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TextID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TextID })
        </td>
    </tr>
}

</table>
