@model IEnumerable<NewBeeBlog.ViewModels.CategoryList>
<script src="~/front/EasyUi/jquery.min.js"></script>
<script src="~/front/EasyUi/jquery.easyui.min.js"></script>
<!--先引用jquery.min再引用jquery-->
<script src="~/front/EasyUi/locale/easyui-lang-zh_CN.js"></script>
<link href="~/front/EasyUi/themes/gray/easyui.css" rel="stylesheet" />
<link href="~/front/EasyUi/themes/icon.css" rel="stylesheet" />
<script type="text/javascript"></script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryHot)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="@item.CategoryName">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryHot)
            </td>
            <td field="Button">
                <button class="easyui-linkbutton" plain="true" onclick="editCategory('@item.CategoryName')">修改分类名</button>
               |<button class="easyui-linkbutton" plain="true" onclick="showCategory('@item.CategoryName')">分类详情</button>
               |<button class="easyui-linkbutton" plain="true" onclick="deleteCategory('@item.CategoryName')">删除此分类</button>
            </td>
        </tr>
    }

</table>
<script>
    function editCategory(c) {
        window.location.href = "/Manage/EditCategory?CategoryName=" + c;
    }
    function showCategory(c) {
        window.location.href = "/Manage/Show?CategoryName=" + c;
    }
    function deleteCategory(c) {
        alert(c);
        $.messager.confirm('删除确认', '确定要删除此分类吗?', function (r)
        {
            if (r)
            {
                //$.ajax({
                //    ajax: false,
                //    type: "POST",//FromMethod
                //    url: "/Manage/DeleteCategory",//"/Controller/Action"
                //    data: { CategoryName: c},//参数 "参数名："参数值""
                //    datatype: 'html',
                //    success: function () {
                //        alert('删除成功');
                //        document.getElementById(c).parentElement.remove();
                //    },
                //    error: function (data) {
                //        alert('删除失败');
                //    }
                //});

                $.post("/Manage/DeleteCategory", { CategoryName: c }, function (data)
                {
                    if (data == 0) {
                        document.getElementById(c).parentElement.remove();
                        alert("删除成功");
                    }
                    else
                    {
                        alert("删除失败");
                    }
                }
                )
            }
        }
    )}
</script>
