@model IEnumerable<NewBeeBlog.ViewModels.ManageText>
@{
    ViewBag.Title = "博文管理";
    Layout = "~/Views/Shared/_LayoutPageManage.cshtml";
}
@*尝试做确认对话框，但是又又又又又失败了*@
<script>
    function destroyText() {
            $.messager.confirm('删除确认', '确定要删除这篇博文吗?', function (r) {
                if (r) {
                    @*window.location.href='@Url.Action("Update", "Manage")';*@
                    deleteText();
                }
            });

    }
    function deleteText() {
        var s = $(".jsID").val();
        $.ajax({
            type: "POST",//FromMethod
            url: "/Manage/DeleteText",//"/Controller/Action"
            data: { TextID: s },//参数 "参数名："参数值""
            datatype: 'html',
            success: function (TextName) {
                alert(TextName + '删除成功');
            }
        });
    }
</script>
<table id="dg" title="@ViewBag.Title" class="easyui-datagrid" style="height:inherit"
       
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            @*TODO：尝试隐藏TextID列*@
            <th width=5%>@Html.DisplayNameFor(model => model.TextID)</th>
            <th width=40%>@Html.DisplayNameFor(model => model.TextTitle)</th>
            <th width=15%>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th width=5%>@Html.DisplayNameFor(model => model.Hot)</th>
            <th width=20%>@Html.DisplayNameFor(model => model.TextChangeDate)</th>
            <th width=15%></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="jsID" >
                    @Html.DisplayFor(modelItem => item.TextID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextChangeDate)
                </td>
                <td field="Button">
                    <!--TODO:处理连接跳转以及删除确认对话框-->
                    <a href="#" class="easyui-linkbutton" plain="true">编辑</a>
                    |<a href="#" class="easyui-linkbutton" plain="true">详情</a>
                    |<a href="#" class="easyui-linkbutton" plain="true" onclick="destroyText()">删除</a>
                </td>
            </tr>
        }
    </thead>
</table>

