@model IEnumerable<NewBeeBlog.ViewModels.ManageText>
@{
    ViewBag.Title = "博文管理";
}
<script src="~/front/EasyUi/jquery.min.js"></script>
<script src="~/front/EasyUi/jquery.easyui.min.js"></script>
<!--先引用jquery.min再引用jquery-->
<script src="~/front/EasyUi/locale/easyui-lang-zh_CN.js"></script>
<link href="~/front/EasyUi/themes/gray/easyui.css" rel="stylesheet" />
<link href="~/front/EasyUi/themes/icon.css" rel="stylesheet" />
<script type="text/javascript"></script>

<table id="dg" title="@ViewBag.Title" style="vertical-align:middle ; text-align:center ; width:98% ; height:98%"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            @*TODO：隐藏TextID列*@
            <th style="width:5%;height:20px">@Html.DisplayNameFor(model => model.TextID)</th>
            <th style="width:40%;height:20px">@Html.DisplayNameFor(model => model.TextTitle)</th>
            <th style="width:15%;height:20px">@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th style="width:5%;height:20px">@Html.DisplayNameFor(model => model.Hot)</th>
            <th style="width:20%;height:20px">@Html.DisplayNameFor(model => model.TextChangeDate)</th>
            <th style="width:15%;height:20px"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td id="@item.TextID">
                    @Html.DisplayFor(modelItem => item.TextID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextChangeDate)
                </td>
                <td field="Button">
                    <a href="#" class="easyui-linkbutton" plain="true">编辑</a>
                    |<a href="#" class="easyui-linkbutton" plain="true">详情</a>
                    |<button href="#" class="easyui-linkbutton" plain="true" onclick="destroyText(@item.TextID)">删除</button>
                </td>
            </tr>
        }
    </thead>
</table>

<script>
    //TODO:刷新页面功能
    function destroyText(tid) {
        //alert(tid);
        $.messager.confirm('删除确认', '确定要删除这篇博文吗?', function (r) {
            if (r) {
                $.ajax({
                    ajax:false,
                    type: "POST",//FromMethod
                    url: "/Manage/DeleteText",//"/Controller/Action"
                    data: { TextID: tid },//参数 "参数名："参数值""
                    datatype: 'html',
                    success: function () {
                        alert('删除成功');
                        document.getElementById(tid).parentElement.remove();
                        //document.all.博文管理.document.location.reload();
                    },
                    error: function () {
                        alert('删除失败');
                    }
                });
                }
            });
    }
</script>